div.row
	div.col-xs-12.text-center
		div.close-btn
			a(href='/')
				img(src='/images/close.svg', alt='Close')
		header
			p.fancy-italic.fancy-italic-modal
				b What's included in the hamper?
			hr
			h3.text-center.fancy-italic.margin-bottom Unique products from small artisan producers
div.row
	div.col-xs-12
		p(class='text-center').fancy-bold Über Luxe Hamper / Super Hamper
		p Both are safely packed in a high quality, traditional, reusable wicker box with a lid and brass fastenings, padded and lined with cotton green gingham fabric.
		p See below for descriptions of the contents of the Über Luxe Hamper, the ultimate food lover's treasure trove (items subject to availability).
		p We also offer a smaller Super Hamper with fewer contents but plenty of wow factor.  
		p Get ready to salivate…
		
		table
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Extraordinarily complex and flavourful honey from Tasmania
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td A chocolate spread from Croatia made with olive oil
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Sweet, viscous white balsamic condiment from Modena. For salad, veg and shellfish
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td A bottle of English Sparkling Wine
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-bull.svg")
				td Spanish treasures including the finest Iberico ham, crunchy breadsticks, Catalan toasted almonds
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Dressing of crushed Calabrian sun-dried tomatoes, fennel seeds, oregano, chillies. For pizza, bread, eggs, salad
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-salt.svg")
				td Sea salt with flakes of fresh Australian black truffle. For eggs, popcorn, meat
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Cold-pressed pumpkin seed oil, a superfood, with a distinctive nutty flavour. For salad, veg and ice cream
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-bull.svg")
				td Salami from the Basque country with pepper notes of fennel
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Dried Swiss cow's milk cheese with garlic and pepper. For shaving over pasta, rice, eggs, steak, salad. Comes with a hand-crafted shaver which is also useful for Parmesan, truffles		
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td A strong, spicy mustard blended with Indian Naga chillies; intense but not overwhelming. Perfect for sausages and as an ingredient for sauces etc.
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Italian pasta infused with truffles - so flavourful you only need to serve with melted butter
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-salt.svg")
				td A glistening whole giant crystal of pink Himalayan salt with a custom grater
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-salt.svg")
				td A sweet, sour and spicy salt mix for lining the rim of your margarita glass; also for sprinkling over fruit, salad and ice cream
			tr
				td
					img.icon(width=60, height=60, src="/images/icon-salt.svg")
				td Natural lacto-fermented bulb fennel with spices
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td A very special aged balsamic vinegar
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Milk Chocolate covered roasted cacao beans dusted in cocoa powder
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Refreshing sweet English cordial with cucumber and tomato extract; for cocktails  
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td Toasted nuts, ginger and coconut, for snacking and topping muesli
			tr
				td
					img.icon.icon-no-bottom(width=60, height=60, src="/images/icon-jar.svg")
				td A cracking cotton tea towel with Celia's nasturtium and fork logo
		p.fancy-bold.text-center NB: Substitutions for food allergies etc. can be accommodated where possible