div.row
	div.col-xs-12.text-center
		div.close-btn
			a(href='/')
				img(src='/images/close.svg', alt='Close')
		header
			p.fancy-italic.fancy-italic-modal
				b What's included in the hamper?
			hr
			h3.text-center.fancy-italic.margin-bottom Unique products from small artisan producers
div.row
	div.col-xs-12
		p(class='text-center').fancy-bold Über Luxe Hamper / Super Hamper
		p Both are safely packed in a high quality, traditional, reusable wicker box with a lid and brass fastenings, padded and lined with cotton green gingham fabric.
		p See below for descriptions of the contents of the Über Luxe Hamper, the ultimate food lover's treasure trove (items subject to availability).
		p We also offer a smaller Super Hamper with fewer contents but plenty of wow factor.  
		p Get ready to salivate…
		
		table
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Extraordinarily complex and flavourful honey from Tasmania
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Sweet, viscous white balsamic condiment from Modena. For salad, veg and shellfish
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Spanish treasures including the finest Iberico ham, crunchy breadsticks, Catalan toasted almonds
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Dressing of crushed Calabrian sun-dried tomatoes, fennel seeds, oregano, chillies. For pizza, bread, eggs, salad
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Sea salt with flakes of fresh Australian black truffle. For eggs, popcorn, meat
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Cold-pressed pumpkin seed oil, a superfood, with a distinctive nutty flavour. For salad, veg and ice cream
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Salami from the Basque country with pepper notes of fennel
			tr
				td
					img.icon(width=60, height=60, src="https://daks2k3a4ib2z.cloudfront.net/558d55372f46a55e77ffc4d5/5623b460f8e6293d476faa5b_jar.svg")
				td Dried Swiss cow's milk cheese with garlic and pepper. For shaving over pasta, rice, eggs, steak, salad. Comes with a hand-crafted shaver which is also useful for Parmesan, truffles																							