div.row.visible-xs
	div.col-xs-4
		img.text-center(src='/images/logo.svg', alt='Celia Brooks', width=154, height=90)
	div.col-xs-8
		header
			hr
			h1.text-center HANDPICKED HAMPERS 2015
			hr
			h3.text-center.fancy-italic.margin-bottom all products from Borough Market

div.row.hidden-xs
	div.col-xs-12
		header
			img.text-center(src='/images/logo.svg', alt='Celia Brooks', width=154, height=90)
			hr
			h1.text-center HANDPICKED HAMPERS 2015
			hr
			h3.text-center.fancy-italic.margin-bottom all products from Borough Market
div.row
	div.col-xs-12
		div(class='text-left')
			p This luxury hamper is a special collection of top-quality products from Borough Market and includes some of the most exotic and delicious food and drink items imaginable. Shock someone with your amazing foodie tastes or be greedy and keep it all for yourself! It's up to you - we promise not to judge. 
			p Borough Market's first and only licensed guide, author and TV chef Celia Brooks, has personally curated this non-perishable menagerie of deliciousness. It's loaded with spices, chocolate, cheese, meats (veggie substitutions available), nuts, oils and so many more bespoke gems. It's enough to make any food lover think they've died and gone to Heaven. Are you ready to amaze your taste buds and impress your friends and loved ones? 
			p Order now to experience a true tasting adventure.