div.row
	div.col-xs-12.text-center
		div.close-btn
			a(href='/')
				img(src='/images/close.svg', alt='Close')
		header
			p.fancy-italic.fancy-italic-modal
				b What's included in the hamper?
			hr
			p.text-center.fancy-bold.margin-bottom Über Luxe Hamper / Super Hamper
div.row
	div.col-xs-12
		div(class='text-left')
			p Celia's Hand-Picked Hampers are the ideal gift for clients, employees or loved ones and can be ordered in time for Christmas.
			p We offer two options depending on your budget. Both are safely packed in a high quality, traditional, reusable wicker box with a lid and brass fastenings, padded and lined with cotton green gingham fabric. 
			p The Über Luxe Hamper is the ultimate food lover's treasure trove with over 20 hand-picked products. 
			p The Super Hamper has fewer contents but plenty of wow factor.
			p Please contact Celia to discuss prices and ordering options.
			p.text-center.large 
				br
				a(href='mailto:celia@celiabrooks.com?subject=Interested%20in%20purchasing%20your%20hampers') celia@celiabrooks.com
				br
				br
				a(href='tel:07956 152 899') 07956 152 899
