div.row
	div.col-xs-12.text-center
		div.close-btn
			a(href='/', ng-click='closeHandler()')
				img(src='/images/close.svg', alt='Close')
		header
			p.fancy-italic.fancy-italic-modal
				b Why did I pick these products?
			hr
			h3.text-center.fancy-bold.margin-bottom This is a collection of Borough Market's finest, curated by the Market's first and only licensed guide, author and TV chef Celia Brooks.
div.row
	div.col-xs-12
		div(class='text-left')
			p Celia says:
			p "I spend more time at Borough Market than anywhere else conducting my exclusive tours since 2007. Borough is unique in the Universe - absolute foodie Nirvana. I am connected and engaged continuously with the Market traders and their stunning array of gourmet food and drink products constantly tasting, comparing, matching and discovering."
			p "I have personally selected my definitive collection of the Borough's finest foodie treasures and hidden gems, bringing them together in one dream package for the first time."
			p "My unique luxury hampers contain my secret ingredients and store cupboard must-haves for creating mind-blowing flavour sensations at home. This awesome box of tricks includes a how-to guide I've written to show you how to craft magic with the hamper's contents. Such as:"
			ul
				li Simple, healthy condiments that transform potatoes, vegetables, poultry, fish and shellfish
				li Miracle workers from breakfast to cocktails
				li The Ultimate all-purpose flavour enhancer
				li Nibbles to accompany a fine bottle of English wine (wine included, of course)
				li Stunning finishing touches for steak, salad or risotto - even ice cream or fruit!