div.row
	div.col-xs-12.text-center
		div.close-btn
			a(href='/', ng-click='closeHandler()')
				img(src='/images/close.svg', alt='Close')
		header
			p.fancy-italic.fancy-italic-modal
				b Why these products?
			hr
			h3.text-center.fancy-bold.margin-bottom A collection of Borough Market's finest
div.row
	div.col-xs-12
		div(class='text-left')
			p Celia says:
			p "I spend more time at Borough Market than anywhere else conducting my exclusive tours, which I've been running since 2007. Borough is unique in the Universe - absolute foodie Nirvana. I am closely connected and engage continuously with the Market traders and their stunning array of gourmet food and drink products - constantly tasting, comparing, matching and discovering. 
			p "I have personally selected my favourite collection of Borough's finest foodie treasures and hidden gems, bringing them together in one dream package for the first time.  
			p "Buying these unique luxury hampers supports small artisan producers and traders, rather than big retailers or corporations. Quality and provenance is assured.  
			p "The hampers contain my secret ingredients, store cupboard must-haves and a how-to guide to creating mind-blowing flavour sensations at home."
			p In the hamper you'll find
			ul
				li 
					b Simple, healthy condiments capable of transforming potatoes, vegetables, poultry, fish and shellfish
				li 
					b Miracle workers for breakfast and cocktails and everything in between
				li 
					b The Ultimate all-purpose flavour enhancer
				li 
					b Nibbles to accompany a fine bottle of English wine (wine included, of course)
				li 
					b Stunning finishing touches for steak, salad or risotto - even ice cream or fruit!