extends layout

block content
	div.row.fill
		div.col-xs-12.visible-xs.hidden-sm.visible-md.visible-lg.col-md-4.fill
			div.background-image.left.blur#background-img-left-placeholder
			div.background-image.left.fadein#background-img-left(ng-show='imageLeftLoaded')
		block view
		div.col-xs-12.col-sm-6.col-md-4.fill
			div.background-image.right.blur#background-img-right-placeholder
			div.background-image.right.fadein#background-img-right(ng-show='imageRightLoaded')
			ul.nav
				li.selected
					a.btn.btn-primary.text-center(href='/purchase') Buy now
				li
					a.btn.btn-default.text-center(href='/why') • Why did I pick these products?
				li
					a.btn.btn-default.text-center(href='/about') • What's included in the hamper?