
body {
  background-color: grey;
  font-size: 14px; 
  line-height: 20px; }
  body .content {
    color: white;
    padding: 20px;
    font-family: Lato, sans-serif;
    z-index: 1050; }
    body .content h1 {
      color: #f7941e;
      font-size: 26px; 
      letter-spacing: 1px;
      }
    body .content h3 {
      font-size: 16px; }
    body .content hr {
      width: 40px;
      height: 4px;
      border: 0 none;
      background-color: white; }
    body .content a {
      color: #f7941e; }

.modal-backdrop {
  opacity: 0.5; }

.text-center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

div.close-btn {
  position: absolute;
  right: -76px;
  top: 10px;
  z-index: 100; }
  div.close-btn a, div.close-btn a:hover {
    border: 0; }
    div.close-btn a img, div.close-btn a:hover img {
      padding: 5px; }

ul.nav {
  margin-top: 30%;
  list-style: none;
  margin-left: -16px;
  padding-left: 0;
  width: 90%;
  max-width: 500px; }
  ul.nav li {
    padding: 0.5em; }
    ul.nav li.selected {
      padding-top: 1em;
      padding-bottom: 1em; }
    ul.nav li .btn.btn-primary, ul.nav li .btn.btn-primary:hover {
      font-size: 26px;
      background-color: #f7941e;
      border-color: #f7941e; }
    ul.nav li .btn {
      width: 90%;
      padding: 16px 26px;
      line-height: 22px;
      border: 2px solid rgba(255, 255, 255, 0.8);
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-transition: background-color 300ms ease;
      transition: background-color 300ms ease;
      font-size: 18px;
      color: #fff;
      font-family: Lora, sans-serif;
      font-weight: bold;
      font-style: italic;
      white-space: normal;
      }
      ul.nav li .btn:hover {
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
      }

._primary-background, body .content, div.close-btn, ul.nav li.selected {
  background: #2d2f2f url("/images/bg.jpg") repeat; }
.fill-min {
  min-height: 100%;
}
html, body, .fill {
  height: 100%;
  min-height: 100%; }

.row {
  margin: 0; }

.background-image {
  width: 110%;
  height: 100%;
  position: absolute; }

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.background-image.right {
  background-size: cover;
  background-position: top right;
  right: 0; }

.background-image.left {
  background-size: cover;
  background-position: top left;
  left: 0; }

#background-img-left-placeholder {
  background-image: url("/images/celia-low.jpg"); }

#background-img-right-placeholder {
  background-image: url("/images/hamper-low.jpg"); }

.fadein {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  opacity: 1;
  /* Default value but added for clarity */ }

/* Initial state when showing */
.fadein.ng-hide-remove {
  opacity: 0;
  display: block !important; }

/* Will transition towards this state */
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

form {
  background: white;
  padding: 1em; }
  
.fancy-italic
{
  font-family: Lora, sans-serif;
  color: white;
  font-size: 16px;
  
  font-style: italic;
}

.fancy-italic-modal {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}

.fancy-bold
{
  font-family: Lora, sans-serif;
  color: white;
  
  font-weight: bold;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.margin-bottom {
  margin-bottom: 50px;
}

table {
  vertical-align: middle
}

.icon {
  margin-top: 20px;
}

@media (max-width: 767px) {
     body .content h1 {
       font-size: 22px;
       margin-top: 10px;
     }
     
     body .content header hr {
       margin-top: 0;
       margin-bottom: 0;
     } 
     .fill {
      height: initial;
      min-height: 200px; 
      padding: 0;
    }
    ul.nav {
      margin: 0;
      max-width: initial;
      width: 100%;
    }
}
@media (max-width: 625px) {
  .col-xs-4, .col-xs-8 {
    width: 100%;
    margin-top: 1em;
  }
}